<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" type="image/png" href="/static/img/apple-touch-icon.png"/>
</head>
<body>
    <h1>ToDoList'e HOŞ GELDİNİZ!</h1>
    <p>Kim oldugunuzu seçin:</p>
    <ul class="list">
        <li class="list-item"><a href="/musa">Musa</a></li>
        <li class="list-item"><a href="/samil">Samil</a></li>
        <li class="list-item"><a href="/yusa">Yusa</a></li>
        <!-- <li class="list-item"><a href="/trials/7248fn/admin/">Admin</a></li> -->
    </ul>
    <footer>
    <style>
        footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 10px;
        }
    </style>
        <ul class="list">    
            <li class="list-item-2"><a href="/export">Excel'e Aktar</a></li>
        </ul>
    </footer>
</body>
</html>