<!DOCTYPE html>

<html lang="tr"></html>
<head>
    <meta charset="UTF-8">
    <title>Yusa'ın Yapılacaklar Listesi</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" type="image/png" href="/static/img/apple-touch-icon.png"/>
</head>
<body>
    <h1>Yusa'nın Yapılacaklar Listesi</h1>
    <h2>Gun:</h2>
    <p>{{ day }}</p>
    <h2>Saat:</h2>
    <p>{{ date }}</p>
    <h3>Yapılacaklar:</h3>
<form method="POST">
<ul class="todo-list">
    {% for todo in todos %}
        <li>
            <input type="checkbox" 
                   name="checked_{{ loop.index }}" 
                   value="{{ todo }}"
                   {% if todo in completed_todos %}checked{% endif %}>
            <span>{{ todo }}</span>
        </li>
    {% endfor %}
</ul>
<button type="submit" style="padding: 15px 30px; font-size: 24px; cursor: pointer;">💾 SAVE</button>
</form>
</body>
</html>
